
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>About</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/style.css">
<link rel="stylesheet" href="~/css/responsive.css">
<link rel="stylesheet" href="~/css/custom.css">
<script src="~/js/modernizr.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>About Ismayil</h2>
                    <p>Ismayil is a ASOIU university student</p>
                    <p>Backend developer of future.</p>
                    <p>Has skills on Html, Css, Csharp, Mssql, React JS</p>
                    <p>Is a Information Technology  student in university and<br/>
                    Cybersecurity is his professionality <br/> Love to improve himself always!</p>

                    <ul>
                        <li><b>Follow Me</b></li>
                    </ul>

                    <a class="btn-new from-middle animated" href="https://images.pexels.com/photos/1416736/pexels-photo-1416736.jpeg?cs=srgb&dl=pexels-jonas-mohamadi-1416736.jpg&fm=jpg&_gl=1*qft3wx*_ga*MTQ3MjEyMjI1NS4xNjcyMDMxNTY1*_ga_8JE65Q40S6*MTY3MjA3ODI3NC41LjEuMTY3MjA3ODI4Ni4wLjAuMA..">Download cv</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="~/uploads/banner-01.jpg" alt="" class="img-fluid img-rounded fat-ab">
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<script src="~/js/all.js"></script>
<script src="~/js/jquery.mobile.customized.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/parallaxie.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/animated-slider.js"></script>
<script src="~/js/jqBootstrapValidation.js"></script>
<script src="~/js/contact_me.js"></script>
<script src="~/js/custom.js"></script>