@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Ismayil Personal Portfolio</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
</head>
<body id="page-top" class="politics_version">

    <div id="home" class="ct-header ct-header--slider ct-slick-custom-dots">
        <div class="ct-slick-homepage" data-arrows="true" data-autoplay="false">

            <div class="ct-header tablex item bg-primary">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                    <div class="col-md-8 col-lg-12  slider-inner bg-success">
                                        <h1 class="big animated">Hello I'm Backend Developer</h1>
                                        <p class="animated">I use and learn Csharp and MsSql.</p>
                                        <a class="btn-new  from-middle animated" href="https://images.pexels.com/photos/1416736/pexels-photo-1416736.jpeg?cs=srgb&dl=pexels-jonas-mohamadi-1416736.jpg&fm=jpg&_gl=1*qft3wx*_ga*MTQ3MjEyMjI1NS4xNjcyMDMxNTY1*_ga_8JE65Q40S6*MTY3MjA3ODI3NC41LjEuMTY3MjA3ODI4Ni4wLjAuMA..">Download cv</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <script src="~/js/all.js"></script>
    <script src="~/js/jquery.mobile.customized.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/parallaxie.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/animated-slider.js"></script>
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>


